<ion-header class="bg-header">
    <ion-toolbar *ngIf="authService.isAuthenticated()">
        <ion-button color="light" fill="clear" routerLink="/tabs/profile" routerDirection="forward" slot="end">
            <ion-icon name="wallet" slot="end"></ion-icon>
            <ion-badge slot="start">{{authService.userWallet?.wallet > 0 ? authService.userWallet?.wallet : 0}}</ion-badge>
        </ion-button>
        <ion-title>
            <ion-img src="/assets/img/logobriskss.png" class="header-logo"></ion-img>
        </ion-title>
        <ion-button color="light" fill="clear" routerLink="/tabs/notifications" routerDirection="forward" slot="start">
            <ion-icon name="notifications" slot="start"></ion-icon>
            <ion-badge slot="end">{{authService.notificationsCount?.unreaded > 0 ? authService.notificationsCount?.unreaded : 0}}</ion-badge>
        </ion-button>
    </ion-toolbar>
    <h6 class="emp-name ion-text-center">
        {{_translate.instant('general.notifications')}}
    </h6>
</ion-header>

<ion-content class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="reload($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-card class="white-card" *ngFor="let item of authService?.userNotifications" button="true" (click)="shipmentDetail(item.number, item.id)">
        <!-- <ion-card-header>
            <ion-card-subtitle [class]="item.read != 1 ? 'unread' : ''">{{item.read != 1 ? _translate.instant('general.unreaded') : _translate.instant('general.readed')}}
            </ion-card-subtitle>
        </ion-card-header> -->
        <ion-card-content>
            <ion-grid class="ion-no-padding">
                <ion-row>
                    <ion-col class="ion-no-padding" size="10">
                        <p [class]="item.read != 1 ? 'unread' : ''">{{item.content}}</p>
                    </ion-col>
                    <ion-col size="2" class="ion-no-padding ion-text-end">
                        <span [class]="item.read != 1 ? 'unreaded' : ''"></span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <p *ngIf="authService?.userNotifications?.length ==0 || !authService?.userNotifications" class="ion-text-center">
        <ion-text color="medium">
            {{_translate.instant('general.no_notifications')}}
        </ion-text>
    </p>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)" *ngIf="authService?.userNotifications?.length > 0 && authService?.userNotifications?.length < authService?.notificationsCount?.all">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
